*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quoteBox{
  display: grid;
  grid-template-rows: 60% 20% 20%;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  background-color: white;
  grid-template-areas:
  "quote"
  "author"
  "button";
  position: relative;
}

.quoteN{
  display: flex;
  flex-direction: row;
  width: 480px;
  height: 110px;
  position: relative;
  grid-area: quote;
  margin-left: 20px;
  font-size: 17px;
  align-items: center;
}

.fa-quote-left{
  font-size: 40px;
  margin-right: 15px;
}

.quoteText{
  position: absolute;
  right: 0;
  padding-top: 5px;
  font-family: 'Inconsolata', sans-serif;
  font-size: 18px;
}

.author{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 260px;
  height: 20px;
  text-align: right;
  grid-area: author;
  position: absolute;
  right: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

.button{
  grid-area: button;
  position: absolute;
  right: 0;
}

button{
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: rgb(252, 252, 252);
  
}

button:hover{
  cursor: pointer;
  font-size: 20px;
  width: 31px;
  height: 31px;
}


@media screen and (max-width: 768px) {
  .App{
    height:100%;
  }

  .quoteBox{
    height: 420px;
    width: 280px;
    margin-top: 110px;
    margin-bottom: 110px;
  }
  .quoteN{
    width: 250px;
  }

  .quoteText{
    padding-right: 20px;
  }

  .author{
    padding-right: 20px;
    max-width: 230px;
  }

  .button{
    padding-right: 13px;
  }
  
}